* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.4;
}

.link {
	text-decoration: none;
	color: inherit;
}

.home__button {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.main__container {
	max-width: 80%;
	margin: 0 auto;
}
